{% extends 'base.html.twig' %}

{% block body %}
    <h1>Device</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ device.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ device.name }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ device.userId }}</td>
            </tr>
            <tr>
                <th>Devicetypeid</th>
                <td>{{ device.devicetypeId }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ device.icon }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('device_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('device_edit', { 'id': device.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
